.cssSelector {
    .input {
        input {
            margin-left: 10px;
        }
    }

    .results {
        margin: 20px;

        .head {
            border: 1px solid black;
            height: 30px;
            background-color: #D4C9E5;
        }

        .body {
            border: 1px solid black;
            margin-top: -1px;
            max-height: 300px;
            overflow: hidden scroll;

            div {
                margin: 5px 0 5px 20px;
            }
        }
    }
}

.buttonArea {
    margin-right: 5px;
    text-align: right;
}

.copyButton {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    width: 0.9em;
    height: 0.9em;
    border: 0.1em solid currentColor;
    border-radius: 0.1em;
    box-sizing: content-box;
    position: relative;
    box-shadow: -0.2em 0.2em 0 -0.1em #fff, -0.2em 0.2em 0 0 currentColor;
}

.clicked {
    background: #000;
}

.unclicked {
    background: #fff;
}